body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.page {
  display: flex;
  min-width: 1100px;
  max-width: 1600px;
  flex-direction: column;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  height: 80px;
  width: 58px;
}

.nav__links {
  display: flex;
  justify-content: space-between;
  margin: 8px 0 0;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  padding: 0;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  width: 8px;
}

.header__content {
  display: flex;
  justify-content: space-between;
}

.header__title {
  max-width: 635px;
  font-size: 62px;
  line-height: 76px;
  font-weight: 500px;
  margin-top: 128px;
}

.header__description {
  max-width: 515px;
  font-size: 20px;
  line-height: 30px;
  margin-top: 32px;
}

.header__image {
  max-width: 636px;
}

.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__address {
  margin: 0;
  color: #838383;
  padding-top: 5%;
}

.staff {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/images/staff_picks_background.jpg");
  flex-direction: column;
}

.staff__cards {
  display: flex;
  max-width: 760px;
  margin: 40px;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
}
.staff__title {
  color: white;
  max-width: 80%;
  font-size: 50px;
  margin-top: 125px;
}

.staff__subtitle {
  color: white;
  font-size: 20px;
  margin-bottom: 68px;
}

.card {
  display: flex;
  justify-content: center;
  width: 360px;
  height: 420px;
  list-style-type: none;
  background-color: white;
}
.card__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  margin: 15px;
}

.card__title {
  font-size: 25px;
  width: 90%;
}
.card__text {
  font-size: 17px;
  width: 90%;
}

.card__footer {
  margin-top: auto;
  width: 90%;
}
